.pomodoro {
  grid-area: pomodoro;

  --background-color: #325c34;
  background-color: var(--background-color);

  padding: 5%;
  color: #fefefe;
  display: flex;
  flex-direction: column;
  align-items: center;

  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; */
}

.pomodoro .stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
